html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, serif;
    background-color: #000;
}

#game_window {
    position: absolute;
    left: 50%;
    top: 50%;
}

#loading_bar {
    background: url("sprites/loading.png") no-repeat center center;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
