html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, serif;
    background-color: #000;
    overflow: hidden;
}

#game_window {
    position: absolute;
    left: 50%;
    top: 50%;

    background: #000 url("sprites/loading.gif") center center no-repeat;
    background-size: 64px;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}
