html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, serif;
    background-color: #000;
    overflow: hidden;
}

#game_window {
    position: absolute;
    left: 50%;
    top: 50%;
}

#loading_bar {
    background: url("sprites/loading.gif") no-repeat center center;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: loading_bar_animation 1s ease-in-out infinite alternate;
}

@keyframes loading_bar_animation {
    0% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1.1);
    }
}
